%main.container.general-main-wrap
  = render 'checkout/progress'
  .text-center.mb-40
    %h3.general-subtitle= t('complete.thanks')
    %p.fw-300= t('complete.has_been_sent_to') + current_order.user.email.capitalize
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0= current_order.sharp_number
        %p.general-address.mb-30= current_order.creation_date
      = render 'checkout/partials/addresses_short', address: @addresses.shipping
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0= current_order.sharp_number
      %p.general-address.mb-30= current_order.creation_date
  = render 'checkout/partials/list_of_items'
  .mb-55
  = render 'checkout/order_summary'
  .text-center
    = link_to 'Back to Store', next_wizard_path, class: 'btn btn-default mb-20'
