%main.container.general-main-wrap
  = render 'checkout/progress'
  %h3.general-subtitle= t('delivery.delivery_method')
  = form_for current_order, url: wizard_path do |f|
    .visible-xs
      = render 'checkout/partials/delivery-xs', f: f if false
    .hidden-xs.mb-res-50
      = render 'checkout/partials/delivery-lg', f: f
    = render 'checkout/order_summary'
    .text-center
      = f.submit 'Save and Continue', class: 'btn btn-default mb-20'
