#address.general-main-wrap.tab-pane.fade.in.active{role: "tabpanel"}
  = form_with url: settings_path do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle.mt-0= t('settings.billing')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle.mt-0= t('settings.shipping')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle.mt-0= t('settings.billing')
        = f.fields_for @billing do |ff|
          = render 'shared/address', ff: ff
      .col-md-5.col-md-offset-1.mb-25
        .visible-xs.visible-sm
          %h3.general-subtitle.mt-0= t('settings.shipping')
        = f.fields_for @shipping do |ff|
          = render 'shared/address', ff: ff
        .form-group.checkbox
          %label.checkbox-label
            %input.checkbox-input{type: "checkbox", hidden: "true"}
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t('settings.use_billing')
    .ral-text-align.mb-60
      = f.submit
      %button.btn.disabled.center-block.mb-20= t('settings.save')
