%main.container
  %h1.general-title-margin Catalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render 'filters'
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link{href: "#"}
          = t('button.all')
          %span.badge.general-badge= Book.count
      = render @categories
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= t('page.book.index.by_category')
    .dropdown
      = render 'filters'
    %p.lead.small.mb-10= t('page.book.index.sort_by')
    .dropdown
      = render 'filters'
  .mb-120
    .row
      = render @books
    .text-center
      %button.btn.btn-primary= t('button.view_more')
      / "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ352GRUKdIFLP3va0Tj7QREidI4lwUABrtUJbQehqIL02O_blo"
