%main.container
  %h1.general-title-margin Catalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render 'filters'
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link{href: "#"}
          = t('button.all')
          %span.badge.general-badge= Book.count
      = render @categories
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= t('page.book.index.by_category')
    .dropdown
      = render 'filters'
    %p.lead.small.mb-10= t('page.book.index.sort_by')
    .dropdown
      = render 'filters'
  .mb-120
    .row#books-container
      = render @books
    .text-center
      = link_to t('button.view_more'), catalog_path(page: @books.current_page + 1), id: 'load-more-books', class: 'btn btn-primary', remote: true
