- @order_items.each do |order_item|
  .general-cart-item.divider-lg-bottom
    = button_to order_items_path(order_item), { data: { confirm: "Are you sure you wish to delete the book '#{order_item.book.title}' from your cart?" }, method: :delete, remote: true, class: "close general-cart-close", 'aria-label': 'Close' } do
      %span{'aria-hidden': "true"} &times;
    .general-img-wrap-table
      %img.cart-img-shadow{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
    %p.title= order_item.book.title
    %table.table
      %tr
        %td
          %span.in-grey-600= t('cart.price')
        %td
          %span.font-16.in-gold-500= number_to_currency(order_item.book.price)
      %tr
        %td.vertical-middle
          %span.in-grey-600= t('cart.quantity')
        = render 'carts/quantity', order_item: order_item
      %tr
        %td
          %span.in-grey-600= t('cart.subtotal')
        %td
          %span.font-16.in-gold-500= number_to_currency(order_item.total_price)
